.weather-app {
  max-width: 600px;
  margin: 30px auto;
  font-family: "Source Sans 3", sans-serif;
}
#search-section {
  border: 1px solid grey;
  padding: 20px 10px;
  border-radius: 10px;
  margin-bottom: 12px;
}
.weather-today {
  border: 1px solid grey;
  padding: 10px 10px;
  border-radius: 10px;
  margin-bottom: 12px;
}

#city-name {
  text-align: left;
  font-weight: bold;
  font-size: 35px;
}
.thermo-temp {
  text-align: left;
  padding-top: 15px;
  font-size: 55px;
  font-weight: 700;
}
.additional-infos {
  list-style: none;
  position: relative;
  font-size: 22px;
  bottom: -70px;
  padding-left: 10px;
}
.weather-icon {
  text-align: center;
}
img {
  width: 200px;
}
.forecast {
  border: 1px solid grey;
  padding: 10px 10px;
  border-radius: 10px;
}

#description-temp,
#day,
#date-mdy {
  text-transform: capitalize;
  font-size: 20px;
}

#search-button {
  padding-left: 0;
}

.additional-infos span {
  margin-left: 10px;
}
.unit-radio {
  margin-left: 15px;
}
