.container {
  max-width: 700px;
}

.weather-app {
  margin: auto;
  margin-top: 30px;
  font-family: "Source Sans 3", sans-serif;
  border-radius: 20px;
  padding: 40px 60px;
  background: radial-gradient(
    circle at 10% 20%,
    rgb(148, 241, 246) 0%,
    rgb(148, 189, 246) 100.7%
  );
}
#search-section {
  padding: 20px 10px;
  border-radius: 10px;
  margin-bottom: 12px;

  background: rgba(255, 255, 255, 0.37);
}
.weather-today {
  padding: 10px 10px;
  border-radius: 10px;
  margin-bottom: 12px;
  background: rgba(255, 255, 255, 0.37);
}
.forecast {
  padding: 10px 10px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.37);
}

#city-name {
  text-align: left;
  font-weight: bold;
  font-size: 35px;
}
.thermo-temp {
  text-align: left;
  padding-top: 15px;
  font-size: 45px;
  font-weight: 700;
}
.additional-infos {
  list-style: none;
  position: relative;
  font-size: 22px;
  bottom: -70px;
  padding-left: 10px;
}
#description-temp {
  text-align: center;
}

.forecast img {
  display: block;
  margin: 0 auto;
}

#description-temp,
#day,
#date-mdy {
  text-transform: capitalize;
  font-size: 20px;
}

#search-button {
  padding-left: 0;
}

.additional-infos span {
  margin-left: 10px;
}
.unit-radio {
  margin-left: 15px;
}
.card-body {
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 8px;
  padding-bottom: 8px;
}
.card {
  background-color: transparent;
  border: 0px;
}
p.next-five-days {
  margin-bottom: 5px;
}
#forecast-max-temp,
#forecast-min-temp {
  display: block;
  margin: 0 auto;
}
